body {
  background-color: #2e2e2e !important;
  margin: 1rem !important;
  color: #fafafa !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #00b0ff !important;
}

.App {
  max-width: 800px;
  margin: 0 auto;
}
