.history-container {
  text-align: center;
  h5 {
    font-size: 1.4rem;
    border-bottom: 0.1rem solid black;
    padding: 0.5rem;
    text-align: left;
    margin: 1.4rem 0;
  }
  .history-item {
    font-size: 1.2rem;

    background-color: whitesmoke;
    margin: 0.4rem 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.6rem;
  }

  .income {
    border-right: 0.4rem solid green;
  }
  .expense {
    border-right: 0.4rem solid red;
  }
}
