.history-container {
  text-align: center;
  h5 {
    font-size: 1.4rem;
    border-bottom: 0.1rem solid black;
    padding: 0.5rem;
    text-align: left;
    margin: 1.4rem 0;
  }
  .history-item-container {
    display: grid;
    grid-template-columns: 1fr min-content;
    .history-item {
      font-size: 1.2rem;

      background-color: #fafafa;
      margin: 0.4rem 0 0.4rem;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0.6rem;
    }

    button {
      padding: 1rem;
      border: none;
      background: none;
      cursor: pointer;
    }

    .income {
      border-right: 0.4rem solid #2e7d32;
    }
    .expense {
      border-right: 0.4rem solid #b71c1c;
    }
  }
}
