.log {
  //   background-color: whitesmoke;

  border-bottom: 0.15rem solid #40c4ff;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  //   display: flex;
  //   justify-content: space-between;
}

.nav-tabs {
  border: none !important;
}
